In [115]:
import pandas as pd 
import numpy as np

In [116]:
data = pd.read_csv(r"F:/M.Tech_CollgeMaterials/IronCode/PredctingAccidtSurvivl/dataset/accident.csv")
data.head()

   Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
0   56  Female             27.0          No            No         1
1   69  Female             46.0          No           Yes         1
2   46    Male             46.0         Yes           Yes         0
3   32    Male            117.0          No           Yes         0
4   60  Female             40.0         Yes           Yes         0

In [117]:
data['Gender'] = data['Gender'].map({'Female':0,"Male":1})
data['Helmet_Used'] = data['Helmet_Used'].map({"Yes":1,"No":0}) 
data['Seatbelt_Used'] = data["Seatbelt_Used"].map({"Yes":1,"No":0})

In [118]:
data.head()

   Age  Gender  Speed_of_Impact  Helmet_Used  Seatbelt_Used  Survived
0   56     0.0             27.0            0              0         1
1   69     0.0             46.0            0              1         1
2   46     1.0             46.0            1              1         0
3   32     1.0            117.0            0              1         0
4   60     0.0             40.0            1              1         0

In [119]:
data.dtypes

Age                  int64
Gender             float64
Speed_of_Impact    float64
Helmet_Used          int64
Seatbelt_Used        int64
Survived             int64
dtype: object

In [120]:
data.isnull().sum()

Age                0
Gender             1
Speed_of_Impact    3
Helmet_Used        0
Seatbelt_Used      0
Survived           0
dtype: int64

In [121]:
data['Gender'] = data['Gender'].fillna(data['Gender'].median())

In [122]:
data = data.dropna(subset=['Speed_of_Impact'])

In [123]:
data.isnull().sum()

Age                0
Gender             0
Speed_of_Impact    0
Helmet_Used        0
Seatbelt_Used      0
Survived           0
dtype: int64

In [124]:
X = data.drop(["Survived"],axis=1)
y = data["Survived"]

In [125]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [126]:
from sklearn.preprocessing import StandardScaler

scalar = StandardScaler()

X_train_scaled = scalar.fit_transform(X_train)
X_test_scaled = scalar.transform(X_test)

In [127]:
from sklearn.decomposition import PCA
pca = PCA()


X_train_pca = pca.fit_transform(X_train_scaled)

X_test_pca = pca.transform(X_test_scaled)

print("Explained variance ratio:", pca.explained_variance_ratio_)

Explained variance ratio: [0.23606011 0.2293355  0.20093236 0.1758638  0.15780823]

In [128]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs')

model.fit(X_train_pca,y_train)

y_pred = model.predict(X_test_pca)

In [138]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix


accr_sc = accuracy_score(y_test, y_pred)
cf = confusion_matrix(y_test,y_pred)
cr =  classification_report(y_test,y_pred)
print("Accuracy Score : ",accr_sc*100)
print("\nConfusion matrix : \n",cf)
print("\nClassification report :\n",cr)

Accuracy Score :  60.0

Confusion matrix :
 [[13 10]
 [ 6 11]]

Classification report :
               precision    recall  f1-score   support

           0       0.68      0.57      0.62        23
           1       0.52      0.65      0.58        17

    accuracy                           0.60        40
   macro avg       0.60      0.61      0.60        40
weighted avg       0.62      0.60      0.60        40