In [32]:
import pandas as pd

In [14]:
df = pd.read_csv(r'C:\Users\sayed\Desktop\Datasets\traintitanic.csv')[['Age','Pclass','Fare','Survived']]

In [16]:
df.head(10)

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0
5   NaN       3   8.4583         0
6  54.0       1  51.8625         0
7   2.0       3  21.0750         0
8  27.0       3  11.1333         1
9  14.0       2  30.0708         1

In [20]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [22]:
X = df.drop(columns= ['Survived'])
y = df['Survived']

In [30]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)