In [1]:
# 1.Use pandas features to access the files

In [3]:
import pandas as pd

In [5]:
import pprint

In [7]:
# 2.Access the files in different formats â€“ excel, csv etc.

In [9]:
# 3.Print master data and data of all the participant separately

In [11]:
df_cricket = pd.read_excel(r'C:\Users\sayed\Desktop\CllgeMaterls\CllgDocs\Cricket.xlsx')

In [13]:
print("Cricket Data")

Cricket Data

In [15]:
print(df_cricket.head())

     ID               NAME LOCATION        DEPT  AGE
0  A001  HARTEJ SINGH ASSI   Mumbai       sales   23
1  A002  BHAVESH BALDANIYA    Delhi  technology   35
2  A005        KUNAL BHATT   Mumbai  technology   31
3  A007   SURESH CHAUDHARY    Delhi       sales   28
4  A009   CHIRAG CHOUDHARY     Pune       sales   40

In [17]:
df_hockey = pd.read_excel(r'C:\Users\sayed\Desktop\CllgeMaterls\CllgDocs\hockey.xlsx')

In [19]:
print("Hockey Data")

Hockey Data

In [21]:
print(df_hockey.head())

     ID               NAME LOCATION        DEPT  AGE
0  A002  BHAVESH BALDANIYA    Delhi  technology   35
1  A003       YASH BAVISHI    Delhi  production   22
2  A004     SHREEKARA BHAT   Indore       sales   34
3  A005        KUNAL BHATT   Mumbai  technology   31
4  A013        ANIKET GAMI   Indore  production   42

In [23]:
df_volleyball = pd.read_csv(r'C:\Users\sayed\Desktop\CllgeMaterls\CllgDocs\Volleyball.csv')

In [25]:
print("Volleyball data")

Volleyball data

In [27]:
print(df_volleyball.head())

     ID                NAME LOCATION        DEPT  AGE
0  A001   HARTEJ SINGH ASSI   Mumbai       sales   23
1  A005         KUNAL BHATT   Mumbai  technology   31
2  A007    SURESH CHAUDHARY    Delhi       sales   28
3  A009    CHIRAG CHOUDHARY     Pune       sales   40
4  A011  MIHIR DHANGDHARIYA   Mumbai  technology   33

In [29]:
df_master_data = pd.read_excel(r'C:\Users\sayed\Desktop\CllgeMaterls\CllgDocs\Master_data_excel.xlsx')

In [31]:
print("Master data")

Master data

In [33]:
print(df_master_data.head())

     ID               NAME LOCATION        DEPT  AGE
0  A001  HARTEJ SINGH ASSI   Mumbai       sales   23
1  A002  BHAVESH BALDANIYA    Delhi  technology   35
2  A003       YASH BAVISHI    Delhi  production   22
3  A004     SHREEKARA BHAT   Indore       sales   34
4  A005        KUNAL BHATT   Mumbai  technology   31

In [35]:
vol_set = set(df_volleyball['ID'])

SyntaxError: incomplete input (213107498.py, line 1)